<%-include("partials/header");-%>
    <h1>About</h1>
    <p>
        <%=aboutPageContent%>
    </p>
    <h3>Remove Content from the Journal</h3>
    <p>To Remove Any Content from the Journal, Visit, goto: URL:<strong> <a
            href="https://whispering-stream-12241.herokuapp.com/remove" alt="remove">Remove Content</a></strong> </p>
    <h3>Add Content to the Journal</h3>
    <p>To Add Any Content to the Journal, Visit goto: URL: <strong> <a
            href="https://whispering-stream-12241.herokuapp.com/compose" alt="compose">Add Content</a></strong> </p>
    <%-include("partials/footer");-%>